.login-pop {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #00000090;
  display: grid;
}

.login-pop-container {
  place-self: center;
  width: max(20vw, 300px);
  color: #808080;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 25px 30px;
  border-radius: 15px;
  font-size: 15px;
  animation: fadeIn 0.5s;
}

.login-pop-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #49557e;
  font-size: 25px;
}

.login-popup-title img {
  cursor: pointer;
  width: 15px;
}

.login-pop-inputs {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-pop-inputs input {
  outline: none;
  border: 1px solid #c9c9c9;
  padding: 10px;
  border-radius: 5px;
}

.login-pop-container button {
  border: none;
  padding: 15px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  color: #49557e;
}

.login-pop-container button:hover {
  background-color: #a3e0a3;
  color: #49557e;
  transition: 0.3s;
}

.login-popup-condition {
  display: flex;
  align-items: start;
  gap: 5px;
  margin-top: 5px;
}

.login-popup-condition input {
  margin-top: 3px;
  margin-right: 2px;
}

.login-pop-container p span:hover {
  color: #a3e0a3;
  cursor: pointer;
  transition: 0.3s;
}
