.cart {
  margin-top: 50;
  display: flex;
  justify-content: space-evenly;
}

.cart-items-title,
.cart-item-title {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr 0fr;
  align-items: center;
  color: #49557e;
  font-size: 20px;
  text-align: center;
}

.cart-items-item {
  margin: 10px 0px;
  color: black;
  font-size: 15px;
  text-align: center;
}

.cart-items-item img {
  width: 150px;
}

.cart hr {
  height: 1px;
  background-color: #49557e;
  border: none;
}

.cart-items-item .x {
  cursor: pointer;
  font-size: 20px;
  color: red;
}

.cart-summary-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart-summary {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.cart-summary-details {
  display: flex;
  justify-content: space-between;
  color: black;
}

.cart-summary hr {
  margin: 10px 0px;
}

.cart-summary button {
  border: none;
  color: #49557e;
  background-color: #a3e0a3;
  width: 200px;
  padding: 10px 0px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}
