.cart {
  margin-top: 100px;
}

.cart-items-title,
.cart-item-title {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr 0fr;
  align-items: center;
  color: #49557e;
  font-size: 20px;
}

.cart-items-item {
  margin: 15px 0px;
  color: black;
  font-size: 15px;
}

.cart-items-item img {
  width: 150px;
}

.cart hr {
  height: 1px;
  background-color: #49557e;
  border: none;
}

.cart-items-item .x {
  cursor: pointer;
  font-size: 20px;
  color: red;
}
