.cart {
  margin-top: 100px;
}

.cart hr {
  height: 1px;
  background-color: #118711;
  border: none;
}

.cart-items-title {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
  align-items: center;
  color: green;
  font-size: max(1vw, 15px);
}

.cart-items-item {
  margin: 10px 0px;
  color: black;
}

.cart-items-item img {
  width: 100px;
  border-radius: 3px;
}
.item-counter-wrapper {
  height: 30px;
  max-width: 80px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-counter-wrapper span {
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

.item-counter-wrapper span.num {
  font-size: 18px;
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  border-left: 2px solid rgba(0, 0, 0, 0.2);
}
.item-counter-wrapper span.cart-minus-btn,
.item-counter-wrapper span.cart-add-btn {
  cursor: pointer;
}

.cart-total-wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  gap: 15vw;
}

.cart-total {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart-total-details {
  display: flex;
  justify-content: space-between;
  color: #49557e;
}

.cart-total hr {
  margin: 15px 0px;
}

.cart-total button {
  border: none;
  color: #49557e;
  background-color: #a3e0a3;
  width: 12vw;
  height: 5vh;
  padding: 10px 0px;
  border-radius: 5px;
  cursor: pointer;
}

.cart-total-wrapper .cart-promocode {
  flex: 1;
}

.cart-total-wrapper .cart-promocode p {
  color: #49557e;
}

.cart-total-wrapper .cart-promocode-input {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eaeaea;
  border-radius: 5px;
}

.cart-total-wrapper .cart-promocode-input input {
  background: transparent;
  border: none;
  outline: none;
  padding-left: 20px;
}

.cart-total-wrapper .cart-promocode-input button {
  width: 10vw;
  padding: 10px 5px;
  background-color: black;
  border: none;
  color: white;
  border-radius: 5px;
}
