.header {
  height: 50vh;
  margin: 10px auto;
  background: url("/header.png") no-repeat;
  background-size: cover;
  position: relative;
}

.header-contents {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5vw;
  max-width: 50%;
  bottom: 10%;
  left: 2vw;
  animation: fadeIn 2.5s;
}

.header-contents h2 {
  font-weight: 400;
  color: white;
  font-size: max(4vw, 25px);
  font-family: "Times New Roman", Times, serif;
}

.header-contents p {
  color: white;
  font-size: max(1vw);
}

.header-contents button {
  border: none;
  color: white;
  font-weight: 400;
  padding: 1vw 2.3vw;
  background-color: #0a7d5a;
  font-size: max(1vw, 13px);
  border-radius: 15px;
  cursor: pointer;
  font-family: "Times New Roman", Times, serif;
}
.header-contents button:hover {
  background-color: rgb(78, 143, 124);
  transition: 0.5s;
  color: white;
}
